# Flutter / Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# IDE
**/.idea/
**/.vscode/
*.iml

# macOS
.DS_Store
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
